.footerWrapper{
    display:flex;
    justify-content:center;
}
.footerLinkWrapper{
    background-color: black;
    width:30%;
    display:flex;
    justify-content:space-between;
    align-items: center;
    margin-top:100px;



}
.footerImg{
    width:75px;
}