.post{
    text-decoration: none;
    color:black;
}
.postDiv{
    background-color: white;
    border-radius: 10px;
    padding: 5px 20px;
    margin-bottom:25px;
    max-width: 1200px;
    display:flex;
    justify-content:space-between;
    align-items: center;
}
.postsWrapperInner{
    padding: 50px 20px;
    max-width:1200px;
    display: flex;
    flex-direction: column;
    width:90%;
}
.postsWrapperOuter{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.delEditWrapper{
    display:flex;

}
.delEditIcon{
    width:40px;
    margin: 0px 10px;

}
.postEdit{
    text-decoration: none;
    color:black;
    min-width:1200px;
}
@media only screen and (max-width: 768px){
    .postEdit{
        text-decoration: none;
        color:black;
        min-width:350px;
    }
    .delEditIcon{
        width:30px;
        margin: 0px 10px;
    
    }
}