.formWrapper{
    display:flex;
    flex-direction:column;
    align-items:flex-start;
}
.editBlogWrapper{
    height:100vh;
    display:flex;
    justify-content: center;
    padding: 80px 0px 0px;
}
.postName{
    min-width:900px;
    font-size: 20px;
}
.postBody{
    min-width: 900px;
    min-height: 600px;
    margin-bottom: 25px;
    margin-top: 5px;
}
label{
    margin: 10px 0px 10px 0px;
    font-weight: bold;

}
.checkboxWrapper{
    margin: 5px 0px;
}
.nameHeading{
    text-align: center;
    font-family: 'Kaushan Script', 'cursive';
}
textarea{
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
}
.checkboxLabel{
    font-weight: normal;
    margin:0px;
}
button{
    margin-top: 20px;
    background-color: #FAFAFA;
    border:none;
    padding: 15px;
    font-size: 15px;
    font-weight: bold;
    font-family: 'Raleway', sans-serif;
    border-radius: 10px;
}
.markDownLink{
    color:#92F2F2;
}
@media only screen and (max-width: 768px){
    .postName{
        min-width:350px;
        font-size: 20px;
    }
    .postBody{
        min-width: 350px;
        min-height: 600px;
        margin-bottom: 25px;
        margin-top: 5px;
    }
    button{
        margin-bottom: 20px;
    }
}