body{
    background-color: black;
    color: #FAFAFA;
    font-family: 'Rubik', sans-serif;
}
.navStyle{
    background-color: black;
    padding:15px 50px ;
    display:flex;
    justify-content: space-between;

}
.navLink{
    color:white;
    text-decoration: none;
    margin-right:20px;
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    font-size: 22px;
}

#nameLink{
    font-weight:bold;
    font-family: 'Kaushan Script', cursive;
    font-weight: 400;
    font-size: 28px;
}
.navLinkWrapper{
    display:flex;
    align-items: center;
}
.sectionBlock{
    font-size: 28px;
    font-family:'Rubik', sans-serif;
    font-weight:bold;
    color:black;
    display:flex;
    align-items: center;
    justify-content: center;
    background-color: #FAFAFA;
    line-height: 62px;
    border-radius: 10px;
    padding: 18px 0px;
}
.homeWrapper{
    padding: 40px 100px;
    max-width: 1400px;
    margin:auto;
    width:100%;
}
.sectionBlockHeading{
    margin:0px;
}